@{
    ViewBag.Title = "About";
}

<h2 style="margin-top:100px">What is Fitnetium?</h2>

<p>
    A fitness application that creates workouts and meal plans based on target areas that the user is wanting to focus on.
    The Main feature is Creating a Workout list that includes different types of workouts for a single week based on Different Types of Categories entered.
</p>
<h2 style="margin-top:75px">Technologies Used:</h2>
<div class="row" style="margin-top:60px">
    <div class="col-md-4">
        <h2>Visual Studio</h2>
        <img src="~/Content/VS2017_logo.png"  title="Visual Studio 2017">
        <p style="margin-top:30px"> Full-featured integrated development environment (IDE) for Android, iOS, Windows, web, and cloud</p>
        <br />
    </div>
    <div class="col-md-4">
        <h2>ASP.Net MVC 5 </h2>
        <img src="~/Content/MVC5.jpg"  title="MVC5">
        <font size="3">
            <p style="margin-top:50px">
                A Microsoft Web Development Framework.
                That is an architectural pattern that separates an application into three main logical components: Model,View, and controller.
                Each of these components are built to handle specific development aspects of an application.
            </p>
            <br />
            <p></p>
        </font>
    </div>
    <div class="col-md-4">
        <h2>Ajax</h2>
        <img src="~/Content/Ajax_logo.png"  title="Ajax">
        <p style="margin-top:85px">Allows web pages to be updated asynchronously by exchanging small amounts of data with the server behind the scenes. </p>
        <br />
    </div>

</div>


<h2 style="margin-top:75px">API's Used:</h2>
<div class="row" style="margin-top:60px">
    <div class="col-md-4">
        <h2>Wger</h2>
        <img src="~/Content/Wger.png" title="Wger">
        <font size="3">
            <p style="margin-top:30px">A REST API to all database objects ranging from equipment,muscle groups,exercise categorys, workouts in different laguages</p>
            <br />
        </font>

    </div>
    <div class="col-md-4">
        <h2>EDAMAM</h2>
        <img src="~/Content/Edamam.jpg" title="Yumss!">
        <p style="margin-top:82px">Edamam's Recipe Search API lets you integrate recipes and faceted recipe search into your websites or mobile applications. </p>
        <br />
    </div>
    <div class="col-md-4">
        <h2>Google Charts</h2>
        <img src="~/Content/Googlecharts.jpg" title="Google Charts">
        <p style="margin-top:110px"> Provideed a perfect way to visualize data on my website. From simple line charts to complex hierarchical tree maps, the chart gallery provides a large number of ready-to-use chart types.</p>
        <br />
    </div>
</div>
