@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"style="margin-top:100px">
    <h1>Fitnetium</h1>
    <p class="lead">A fitness application that creates workouts and meal plans based on target areas that the user is wanting to focus on.</p>
</div>
<div class="row">
 
    <div class="row">
        <div class="col-md-4">
            <h2>The Problem:</h2>
            <font size="4">
                <p>For a person going to the gym for the first time.</p> 
                
                <p>What should I work out?.</p>
               
                <p>How much should I be doing?.</p>
                
               <p> Calories that I'm burnning from the workout.</p>
            </font>
            
        </div>
        <div class="col-md-4">
            <h2>So Far</h2>
            <p>The Goal main focus was to create a application for anyone wanting to go to the gym but didn't know what types of workouts to do for a day.  </p>
            <br />

        </div>
        <div class="col-md-4">
            <h2>Whats Next?</h2>
            
            <p>Web Hosting</p>
            <p>Google Fit intergration</p>
            <p>Example video of workout</p>
            <p>Mobile Deployment</p>
        </div>
    </div>
