
@model Fitnetium.Models.Workout
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mondays Calories Burned</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <style>
        .body-content {
            margin-left: auto;
            margin-right: auto;
            float: left;
            margin-top: -130px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("VisualizeCaloriesBurnedWeek", "Workout",new { id=Model.UserWorkoutID})',
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawChart(result);
                    });
                }
            });
        });

        function drawChart(result) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Workout Name');
            data.addColumn('number', 'Calories Burned');
            data.addColumn('number', 'Actual Calories Burned');
            var dataArray = [];

            $.each(result, function (i, obj) {
                dataArray.push([obj.Name, obj.CaloriesBurned, obj.ActualCalories]);

            });
            data.addRows(dataArray);

            var columnChartOptions = {
                title: "Mondays workout Calories",
                width: 1600,
                height: 1000,
                bar: { groupWidth: "20%" },
                orientation: 'vertical'
            };

            var columnChart = new google.visualization.ColumnChart(document
                .getElementById('linechart_div'));


            columnChart.draw(data, columnChartOptions);

        }
    </script>

</head>
<body>
    <div id="linechart_div"></div>
</body>
</html>